<header class="container-header">
    <div class="header">
        <div class="header-slider">

            <div class="header-slider__item">
                {{> image src='header-slide1.png' class='header-img' }}
                <div class="header-slider__item-content">
                    <h4>Зарабатывай</h4>
                    <h5>В Чехии</h5>
                    <p>
                        Построй карьеру в иностранной компании с зарплатой от
                        20 000 грн Построй карьеру в иностранной компании с
                        зарплатой от 20 000 грн
                    </p>
                    <a href="#" data-info="Заявка с первого экрана" class="header-link">оставить заявку</a>
                </div>
            </div>
            <div class="header-slider__item">
                {{> image src='header-slide1.png' class='header-img' }}
                <div class="header-slider__item-content">
                    <h4>Подрабатывай</h4>
                    <h5>В Чехии</h5>
                    <p>
                        Построй карьеру в иностранной компании с зарплатой от
                        20 000 грн
                    </p>
                    <a href="#" data-info="Заявка с первого экрана" class="header-link">оставить заявку</a>
                </div>
            </div>
            <div class="header-slider__item">
                {{> image src='header-slide1.png' class='header-img' }}
                <div class="header-slider__item-content">
                    <h4>Недорабатывай</h4>
                    <h5>В Чехии</h5>
                    <p>
                        Построй карьеру в иностранной компании с зарплатой от
                        20 000 грн Построй карьеру в иностранной компании с
                        зарплатой от 20 000 грн
                    </p>
                    <a href="#" data-info="Заявка с первого экрана" class="header-link">оставить заявку</a>
                </div>
            </div>
            <div class="header-slider__item">
                {{> image src='header-slide1.png' class='header-img' }}
                <div class="header-slider__item-content">
                    <h4>Перерабатывай</h4>
                    <h5>В Чехии</h5>
                    <p>
                        Построй карьеру в иностранной компании с зарплатой от
                        10 000 грн
                    </p>
                    <a href="#" data-info="Заявка с первого экрана" class="header-link">оставить заявку</a>
                </div>
            </div>

        </div>
        <div class="header__slider-controls">
            <div class="slider-arr-prev header-prev"></div>
            <div class="slider-arr-next header-next"></div>
        </div>
    </div>
</header>

<section class="container container-underheader">
    <div class="underheader">
        <p>{{> image src='ic_quote.svg' class='' }}</p>
        <h3>
            Мы максимально чесно описали все достоинства и недостатки работы в Чехии.
            Если вы решили работать с нами, то заповните форму ниже.
        </h3>
    </div>
    {{> image src='bg-underheader-1.svg' class=' bg bg-right  bg-underheader-1' }}
</section>