<section class="container">
    <div class="earn">
        <div class="earn__head">
            <h2>Сколько вы заработаете с нами</h2>
            <h3>Давайте рассмотрим сколько в среднем зарабатывает в месяц собиратель ягод
                в нашей компании. Мы платим вам <span>7-12 крон</span> за <span>1</span> килограм
                собраных ягод.
                Вы можете собирать до <span>100 кг</span> ягод ежедневно. Соответственно за <span>22</span>
                рабочих дня
                вы сможете собрать <span>2200 кг</span> ягод, и получить за это <span>26-28 тыс.грн</span>
            </h3>
        </div>
        <div class="earn__body">

            <div class="earn__body-item">
                <p class="earn__body-item_name">
                    ДОХОДЫ
                </p>
                <p class="earn__body-item_price">
                    28 000<span> ГРН</span>
                </p>
                <p class="earn__body-item_descr">

                </p>
            </div>
            <div class="earn__body-item">
                <p class="earn__body-item_name">
                    РАСХОДЫ
                </p>
                <p class="earn__body-item_price">
                    3 000<span> ГРН</span>
                </p>
                <p class="earn__body-item_descr">
                    Проживание
                </p>
                <p class="earn__body-item_price">
                    6 000<span> ГРН</span>
                </p>
                <p class="earn__body-item_descr">
                    Питание
                </p>
            </div>
            <div class="earn__body-item">
                <p class="earn__body-item_name">
                    ИТОГ
                </p>
                <p class="earn__body-item_price">
                    20 000<span> ГРН</span>
                </p>
                <p class="earn__body-item_descr">
                    * в качестве показателей взяты среднестатистические реальные данные наших клиентов
                </p>
            </div>

        </div>
    </div>
    {{> image src='bg-earn-1.svg' class=' bg bg-left  bg-earn-1' }}
    {{> image src='bg-earn-2.svg' class=' bg bg-left  bg-earn-2' }}
    {{> image src='bg-earn-3.svg' class=' bg bg-right  bg-earn-3' }}

</section>