<div class="popup-wrapper" id="popup" style="display: none">
    <div id="ajaxMsg" class="success-msg">
        <h5>Спасибо за Вашу заявку</h5>
        <p>Мы свяжемся с Вами в течении 15 минут</p>
        {{> image src='bg-popup-1.svg' class='bg-popup-1' }}
        {{> image src='bg-popup-2.svg' class='bg-popup-2' }}
        {{> image src='bg-popup-3.svg' class='bg-popup-3' }}
    </div>
    <div class="popup-body">
        <p class="popup-body__head">Оставьте заявку</p>
        <div class="popup-body-close" id="closePopup"></div>
        <form class="popup-body__form" id="formMain">
           <div class="popup-body__form-wrapper">
               <p class="popup-body__form-item">
                   <label for="name">Имя</label>
                   <input type="text" name="name" placeholder="Имя" required>
               </p>
               <p class="popup-body__form-item">
                   <label for="phone">Телефон</label>
                   <input type="text" name="phone" id="phone" required>
               </p>
               <p class="popup-body__form-item">
                   <label for="mail">Почта</label>
                   <input type="text" name="mail" id="mail" required>
               </p>
               <input type="text" id="info" value="" hidden>
           </div>
            <input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="popup-body__form-submit">
        </form>
    </div>
</div>