.popup-wrapper{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(79, 79, 79, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  top: 0;
}
.popup-body{
  width: 600px;
  background: $background;
  position: relative;
  border-radius: 5px;
  &__head{
    text-align: center;
    font-family: SF-Bold, sans-serif;
    font-size: 36px;
    color: $black;
    border-bottom: 1px solid $grey;
    padding: 30px;

  }
  &-close{
    position: absolute;
    background: url("~images/popup-close.svg");
    right: 20px;
    top: 40px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__form{

    &-item{
      margin: 20px 0;
      label {
        color: $green;
        font-family: SF, sans-serif;
        font-size: 18px;
      }
      input{
        padding: 15px;
        margin: 5px 0;
        width: 100%;
        border: 1px solid $green;
        border-radius: 5px;
      }
    }
    &-wrapper{
      padding: 15px 100px 50px;
    }
    &-submit{
      width: 100%;
      background: $green;
      padding: 20px;
      border: none;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }
  }
}

.success-msg{
  position: absolute;
  top: 50%;
  background: $background;
  padding: 50px 200px;
  text-align: center;
  border-radius: 5px;
  h5{
    font-family: SF-Bold, sans-serif;
    font-size: 36px;
    margin: 20px 0;
  }
  p {
    font-family: SF, sans-serif;
    font-size: 18px;
    color: $grey;
  }
}
.bg-popup{
  &-1, &-2, &-3{
    position: absolute;
  }
  &-1 {
    top: -5px;
    left: 10px;
  }
  &-2{
    top: -20px;
    right: 0;
  }
  &-3{
    bottom: 0;
    left: 0;
  }
}