<div class="popup-wrapper" id="popup">
    <div class="popup-body">
        <p class="popup-body__head">Оставьте заявку</p>
        <div class="popup-body-close" id="closePopup"></div>
        <form class="popup-body__form">
           <div class="popup-body__form-wrapper">
               <p class="popup-body__form-item">
                   <label for="name">Имя</label>
                   <input type="text" name="name" placeholder="Имя" required>
               </p>
               <p class="popup-body__form-item">
                   <label for="phone">Телефон</label>
                   <input type="text" name="phone" required>
               </p>
               <p class="popup-body__form-item">
                   <label for="mail">Почта</label>
                   <input type="text" name="mail" required>
               </p>
           </div>
            <input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="popup-body__form-submit">
        </form>
    </div>
</div>