.to-eat{
  &__body{

  }
  &__slider{
    &-item{
      img {
        margin: 0 auto;
      }
    }
    & .slick-dots {
      width: auto;
      left: calc(50% - 40px);
      bottom: 5px;
      &:before{
        position: absolute;
        content: url('~images/eat-dots-bg.svg');
        bottom: -10px;
        left: -65%;
      }
    }
    & .slick-dots li{
      margin: 0 ;
      & button:before{
        font-size: 40px;
        color: white;
      }
    }
  }
  &-prev{
    left: calc(50% - 85px);
    bottom: 10px;
  }

  &-next{
    right: calc(50% - 85px);
    bottom: 10px;
  }
}

@media all and (max-width: 450px) {
  .to-eat__slider-item {
    img {
      width: 100%;
    }
  }
}