<div class="to-eat">
    <div class="to-live__head">
        <h4>Что вы будете кушать</h4>
    </div>
    <div class="to-eat__body">
        <div class="to-eat__slider" id="foodSlider">
            <div class="to-eat__slider-item">
                {{> image src='food-1.png' class='' }}
            </div>
            <div class="to-eat__slider-item">
                {{> image src='food-1.png' class='' }}
            </div>
            <div class="to-eat__slider-item">
                {{> image src='food-1.png' class='' }}
            </div>
            <div class="to-eat__slider-item">
                {{> image src='food-1.png' class='' }}
            </div>
        </div>
        <div class="to-eat__slider-controls">
            <div class="slider-arr-prev to-eat-prev"></div>
            <div class="slider-arr-next to-eat-next"></div>
        </div>
    </div>
</div>