<section class="container">
    <div class="benefits">
        <div class="benefits__head">
            <h2>Преимущества и недостатки работы в Чехии</h2>
            <h3>
                Мы максимально чесно описали все достоинства и недостатки работы в Чехии.
                Если вы решили работать с нами, то заповните форму ниже.
            </h3>
        </div>
        <div class="benefits__body">
            <div class="benefits__body-item benefits-good">
                <p>Приемущества </p>

                <ul class="benefits-list">
                    <li class="benefits-list-item">
                        Высокооплачиваемая работа
                    </li>
                    <li class="benefits-list-item">
                        Возможность путешествовать по Чехии и странам Евросоюза
                    </li>
                    <li class="benefits-list-item">
                        Возможность посмотреть мир
                    </li>
                    <li class="benefits-list-item">
                        Возможность углубленно изучать чешский язык
                    </li>
                </ul>

            </div>
            <div class="benefits__body-item benefits-bad">
                <p>Недостатки </p>

                <ul class="benefits-list">
                    <li class="benefits-list-item">
                        10-часовой робочий день
                    </li>
                    <li class="benefits-list-item">
                        Психологические факторы
                        (страх выйти из своей зоны комфорта)
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>