<section class="container">
    <div class="vacancy">
        <div class="vacancy__head">
            <h2>Наши вакансии</h2>
            <h3>We are the first and the only crowdfunding platform enabling you
                to help finance our farmers.</h3>
        </div>
        <div class="vacancy__body">
            <div class="vacancy-item">
                {{> image src='vacancy0.png' }}
                <div class="vacancy-item__main">
                    <p class="vacancy-name">Сбор ягод в Чехии</p>
                    <p class="vacancy-prise">32 000 <span>UAH</span></p>
                </div>
                <div class="vacancy-item__descr">
                    <p>Пол: <span> {{> image src='female.svg' }}{{> image src='male.svg' }} </span></p>
                    <p>Возраст: <span> 25-33 лет</span></p>
                    <p>Опыт работы: <span> без опыта</span></p>
                </div>
                <div class="vacancy-item__btn">
                    <a href="#" class="vacancy-detail">подробнее</a>
                    <a href="#" class="vacancy-order">оптравить заявку</a>
                </div>
            </div>
        </div>
    </div>
</section>