<section class="container">
    <div class="vacancy" id="vacancy">
        <div class="vacancy__head">
            <h2>Наши вакансии</h2>
            <h3>We are the first and the only crowdfunding platform enabling you
                to help finance our farmers.</h3>
        </div>
        <div class="vacancy__body">
            <div class="vacancy-item">
                {{> image src='vacancy0.png' }}
                <div class="vacancy-item__main">
                    <p class="vacancy-name">Сбор ягод в Чехии</p>
                    <p class="vacancy-prise">32 000 <span>UAH</span></p>
                </div>
                <div class="vacancy-item__descr">
                    <p>Пол: <span> {{> image src='female.svg' }}{{> image src='male.svg' }} </span></p>
                    <p>Возраст: <span> 25-33 лет</span></p>
                    <p>Опыт работы: <span> без опыта</span></p>
                </div>
                <div class="vacancy-item__btn">
                    <a href="#" class="vacancy-detail">подробнее</a>
                    <a href="#" class="vacancy-order">оптравить заявку</a>
                </div>
                <div class="vacancy-item__info">
                    <div class="vacancy-item__info-close"></div>
                    <div class="vacancy-item__info-body">
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                        <p>Умови роботи:</p>
                        <ul>
                            <li>- повна зайнятість</li>
                            <li>- робочий день з 7:00 до 17:00, пн-сб</li>
                            <li>- офійійне працевлаштування</li>
                        </ul>
                        <p>Обов'язки:</p>
                        <ul>
                            <li>- полив плодових садів</li>
                            <li>- оприскування плодових садів від шкідників</li>
                            <li>- транспорт плодів</li>
                        </ul>
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="vacancy-item">
                {{> image src='vacancy1.png' }}
                <div class="vacancy-item__main">
                    <p class="vacancy-name">Обрезание плодовых деревьев</p>
                    <p class="vacancy-prise">48 000 <span>UAH</span></p>
                </div>
                <div class="vacancy-item__descr">
                    <p>Пол: <span> {{> image src='female.svg' }}{{> image src='male.svg' }} </span></p>
                    <p>Возраст: <span> 15-33 лет</span></p>
                    <p>Опыт работы: <span> 8 лет</span></p>
                </div>
                <div class="vacancy-item__btn">
                    <a href="#" class="vacancy-detail">подробнее</a>
                    <a href="#" class="vacancy-order">оптравить заявку</a>
                </div>
                <div class="vacancy-item__info">
                    <div class="vacancy-item__info-close"></div>
                    <div class="vacancy-item__info-body">
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                        <p>Умови роботи:</p>
                        <ul>
                            <li>- повна зайнятість</li>
                            <li>- робочий день з 7:00 до 17:00, пн-сб</li>
                            <li>- офійійне працевлаштування</li>
                        </ul>
                        <p>Обов'язки:</p>
                        <ul>
                            <li>- полив плодових садів</li>
                            <li>- оприскування плодових садів від шкідників</li>
                            <li>- транспорт плодів</li>
                        </ul>
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="vacancy-item">
                {{> image src='vacancy0.png' }}
                <div class="vacancy-item__main">
                    <p class="vacancy-name">Сбор ягод в Чехии</p>
                    <p class="vacancy-prise">22 000 <span>UAH</span></p>
                </div>
                <div class="vacancy-item__descr">
                    <p>Пол: <span> {{> image src='female.svg' }}{{> image src='male.svg' }} </span></p>
                    <p>Возраст: <span> 25-26 лет</span></p>
                    <p>Опыт работы: <span> без опыта</span></p>
                </div>
                <div class="vacancy-item__btn">
                    <a href="#" class="vacancy-detail">подробнее</a>
                    <a href="#" class="vacancy-order">оптравить заявку</a>
                </div>
                <div class="vacancy-item__info">
                    <div class="vacancy-item__info-close"></div>
                    <div class="vacancy-item__info-body">
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                        <p>Умови роботи:</p>
                        <ul>
                            <li>- повна зайнятість</li>
                            <li>- робочий день з 7:00 до 17:00, пн-сб</li>
                            <li>- офійійне працевлаштування</li>
                        </ul>
                        <p>Обов'язки:</p>
                        <ul>
                            <li>- полив плодових садів</li>
                            <li>- оприскування плодових садів від шкідників</li>
                            <li>- транспорт плодів</li>
                        </ul>
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="vacancy-item">
                {{> image src='vacancy2.png' }}
                <div class="vacancy-item__main">
                    <p class="vacancy-name">Вакансия тракториста</p>
                    <p class="vacancy-prise">100 000 <span>UAH</span></p>
                </div>
                <div class="vacancy-item__descr">
                    <p>Пол: <span> {{> image src='female.svg' }}{{> image src='male.svg' }} </span></p>
                    <p>Возраст: <span> 20-33 лет</span></p>
                    <p>Опыт работы: <span> без опыта</span></p>
                </div>
                <div class="vacancy-item__btn">
                    <a href="#" class="vacancy-detail">подробнее</a>
                    <a href="#" class="vacancy-order">оптравить заявку</a>
                </div>
                <div class="vacancy-item__info">
                    <div class="vacancy-item__info-close"></div>
                    <div class="vacancy-item__info-body">
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                        <p>Умови роботи:</p>
                        <ul>
                            <li>- повна зайнятість</li>
                            <li>- робочий день з 7:00 до 17:00, пн-сб</li>
                            <li>- офійійне працевлаштування</li>
                        </ul>
                        <p>Обов'язки:</p>
                        <ul>
                            <li>- полив плодових садів</li>
                            <li>- оприскування плодових садів від шкідників</li>
                            <li>- транспорт плодів</li>
                        </ul>
                        <p>Вимоги:</p>
                        <ul>
                            <li>- права на трактори А1, А2 (інші категорії вітаються)</li>
                            <li>- досвід керування трактором від 1 року</li>
                            <li>- навички механіка вітаються</li>
                            <li>- чесність та порядність</li>
                            <li>- охайне ставлення до техніки</li>
                            <li>- вміння організовувати робочий процес</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> image src='bg-vacancy-1.svg' class=' bg bg-left  bg-vacancy-1' }}
    {{> image src='bg-vacancy-2.svg' class=' bg bg-left  bg-vacancy-2' }}
    {{> image src='bg-vacancy-3.svg' class=' bg bg-left  bg-vacancy-3' }}
    {{> image src='bg-vacancy-4.svg' class=' bg bg-right bg-vacancy-4' }}
</section>