@font-face {
  font-family: 'OpenSans';
  src: url('~fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'SF-Big';
  src: url('~fonts/SFUIDisplay-Black.ttf');
}
@font-face {
  font-family: 'SF-Bold';
  src: url('~fonts/SFUIDisplay-Bold.ttf');
}
@font-face {
  font-family: 'SF';
  src: url('~fonts/SFUIDisplay-Regular.ttf');
}


