<nav class="menu">

   <a href="#">{{> image src='logo.svg' class='logo' }}</a>
   <ul class="menu__list">
      <li class="menu__list-item">
         <a href="#">Наши вакансии</a>
      </li>
      <li class="menu__list-item">
         <a href="#">Оплата труда</a>
      </li>
      <li class="menu__list-item">
         <a href="#">Условия работы</a>
      </li>
      <li class="menu__list-item">
         <a href="#">Контакты</a>
      </li>
   </ul>
   <div class="menu__language">
      <span>rus</span>
      <div class="menu__language-list">
         <a href="#">en</a>
         <a href="#">ua</a>
      </div>
   </div>
   <a href="tel:+380932172513" class="menu__phone">+38 093 21 72 513</a>

   {{> image src='menu1.svg' class='bg-menu-1' }}
   {{> image src='menu2.svg' class='bg-menu-2' }}
</nav>