.menu{
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  padding: 25px 150px;
  width: 100%;
  background: $background;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.4);
  &__list{
    margin: 0 250px 0 10px;
    text-align: center;
    &-item{
      margin: 0 20px;
      display: inline-block;
      a{
        font-size: 18px;
        font-family: SF, sans-serif;
        letter-spacing: 2px;
        padding: 3px;
      }
    }
  }
  &__language{
    position: relative;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: SF-Bold, sans-serif;
    font-size: 12px;
    &:after{
      position: absolute;
      content: '';
      border-top: 4px solid $grey;
      border-right: 4px solid $background;
      border-left: 4px solid $background;
      right: -10px;
      top: 10px;
    }
    &-list{
      position: absolute;
      top: 100%;
      width: 45px;
      left: 0;
      text-align: center;
      visibility: hidden;
      border: 1px solid $green;
      background: $background;
      padding: 5px 0;
      a {
        display: block;
        padding: 5px 0;
        &:hover{
          color: $green;
        }
      }
    }
    .langOpen &-list {
      visibility: visible;
    }
  }
  &__phone{
    font-size: 12px;
    color: $green;
    font-family: SF-Bold, sans-serif;
    letter-spacing:1px;
  }
}

.bg-menu{
  &-1{
    position: absolute;
    left: 0;
    top: 0;
  }
  &-2{
    position: absolute;
    right: 0;
    top: 5px;
  }
}
.menuCloseNtn{
  display: none;
}
@media all and (max-width: 1700px){
  .menu{
    padding: 25px 100px;
    &__list{
      margin: 0 170px 0 10px;
      &-item{
        margin: 0 10px 0 5px;
      }
    }
  }
}
@media all and (max-width: 450px){
  .menu{
    padding: 5px;
  }
  .menu-list-wrapper{
    position: relative;
    width: 30px;
    height: 30px;
    order: 1;
    z-index: 20;
  }
  .menu__list{
    position: absolute;
    transform: scale(0);
    transform-origin: right top ;
    transition: .4s;
    right: 0;
    top: 0;
    background: $background;
    margin: 0;
    border: 1px solid $green;
    padding: 20px 10px;
    width: 98vw;
    &-item{
      margin: 30px auto;
      display: block;
    }

  }
  .mobile-menu-open{
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: -100vw;
      width: 110vw;
      height: 100vh;
      background: rgba(75,75,75,0.8);
    }
  }
  .mobile-menu-open .menu__list{
    transform: scale(1);
  }
  .menuCloseBtn{
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    height: 3px;
    background: #333333;
    border: 0 solid #f4f4f4;
    transition: .4s;
    &:before, &:after{
      position: absolute;
      content: '';
      height: 3px;
      background: #333333;
      right: 0;
      transform-origin: center;
      transition: .4s;
      width: 30px;
    }
    &:before{
      top: -7px;
    }
    &:after{
      bottom: -7px;
    }
  }
  .mobile-menu-open .menuCloseBtn{
    background: $background;
    right: 10px;
    top: 20px;
    &:before{
      transform: rotate(-45deg);
      top: 0;
    }
    &:after{
      transform: rotate(45deg);
      bottom: 0;
    }
  }
}