<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{> favicons}}
    <title> Klubnika </title>
</head>
<body>
{{> menu/menu}}

    <main>
        {{> offer/offer}}
        {{> vacancy/vacancy}}
        {{> earn/earn}}
        {{> benefits/benefits}}
        {{> tolive/tolive}}
       {{> certif/certif}}
       {{> testimonials/testimonials}}
       {{> faq/faq}}
       {{> contact/contact}}
    </main>


<div class="btn-up" id="btnUp">^</div>
</body>
</html>