<section class="container">
    <div class="info">
        <div class="info__head">
            <h2>Полезная информация</h2>
        </div>
        <div class="info__body">
            <p class="info__body-text">
                Самое сложное в поиске работы за границей для украинцев - это
                честный работодатель и его представитель. Чаще всего самостоятельные
                попытки трудоустроиться заканчиваются финансовыми потерями или другими
                проблемами. Чтобы избежать рисков, рекомендуем обращаться в лицензированное
                Министерством труда и социальной политики агентство по трудоустройству
                за границей, (Киев). После заключения контракта с
                клиентом наша компания оказывает помощь в:
                подборе подходящей вакансии в соответствии с личными характеристиками (см.выше);
                переводе и оформлении, согласно требованиям, резюме для работодателя;
                подготовке к собеседованию с работодателем;
                сборе пакета документов для получения разрешения на официальную работу
                за границей и открытия рабочей визы;
                получении медицинской страховки в период пребывания за рубежом;
                подписание контракта работодателем
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A architecto commodi cum dolores dolorum ea enim exercitationem facilis
                id inventore itaque mollitia praesentium quae quidem quo,
                rerum sapiente sed sint!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A architecto commodi cum dolores dolorum ea enim exercitationem facilis
                id inventore itaque mollitia praesentium quae quidem quo,
                rerum sapiente sed sint!
            </p>
            <a href="#" class="info__body-btn" id="showInfoBtn">Раскрыть</a>
        </div>
    </div>
</section>