.to-live{
  //z-index: 0;
  position: relative;
  &:before{
    position: absolute;
    z-index: -1;
    right: -$wrap-margin;
    top: -25%;
    content: url("~images/video-background.svg");
    transform: scaleX(1.2);
    transform-origin: right;
    //content: '';
    //background: url("~images/video-background.svg") no-repeat;
    //height: 100%;
    //width: 100%;
    //background-size: contain;
  }
  &__head{
    h4 {
      font-size: 25px;
      text-align: center;
      font-family: SF-Bold, sans-serif;
      margin-bottom: 20px;
    }
  }
  &__body{
    margin:0 0 150px;
   img, video  {
     margin: 0 auto;
     display: block;
   }
  }
}

.bg {
  &-live{
    &-1{
      top: 700px;
    }
    &-2{
      top: 1400px;
    }
    &-3{
      top: 1500px;
    }
    &-4{
      top:  2100px;
    }
    &-5{
      top:  2300px;
    }
  }
}

@media all and (max-width: 1440px){
  .to-live:before{
    transform: scaleX(1);
  }
}
@media all and (max-width: 800px){
  .to-live:before{
    content: none;
  }
}
@media all and (max-width: 450px) {
  .to-live__body img {
    width: 100%;
  }
}