<section class="container">
    <div class="to-live" id="to-live">
        <div class="to-live__head">
            <h2>Условия проживания</h2>
            <h3>
                Мы максимально чесно описали все достоинства и недостатки работы в Чехии.
                Если вы решили работать с нами, то заповните форму ниже.
            </h3>
            <h4>Где вы будете жить</h4>
        </div>
        <div class="to-live__body">
            {{> image src='Video.png' class='' }}
        </div>
    </div>
    {{> toeat/toeat}}

    {{> image src='bg-live-1.svg' class=' bg bg-right  bg-live-1' }}
    {{> image src='bg-live-2.svg' class=' bg bg-left  bg-live-2' }}
    {{> image src='bg-live-3.svg' class=' bg bg-right  bg-live-3' }}
    {{> image src='bg-live-4.svg' class=' bg bg-right  bg-live-4' }}
    {{> image src='bg-live-5.svg' class=' bg bg-right  bg-live-5' }}
</section>