.cert{
  margin: 200px 100px;
  &__slider{
    &-item{

      &.slick-active img{
        transform: scale(0.85);
      }
      &.slick-center img{
        transform: scale(1);
      }
    }
    &-img{
      width: 400px;
      margin: 0 auto;
      transform: scale(0.7);
      transition: .5s;
    }
  }
}
.cert__slider-controls{
  margin-top: 30px;
}
.cert-prev{left: 47%}
.cert-next{right: 47%}

@media all and (max-width: 1700px){
  .cert__slider-img{
    width: 300px;
  }
}
@media all and (max-width: 450px){
  .cert {
    margin: 20px 0 50px;
    &__slider-img{
      width: 100%;
    }
    &__slider-controls{
      margin-top: 5px;
    }
  }
  .cert__slider-item.slick-active img{
    transform: scale(1);
  }
  .cert-prev{left: 50px}
  .cert-next{right: 50px}
}