<section class="container-fat">
   <div class="cert">

      <div class="cert__slider" id="certSlider">
         <div class="cert__slider-item">
            {{> image src='cert1.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert2.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert1.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert2.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert1.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert2.jpg' class='cert__slider-img' }}
         </div>
      </div>
   </div>
</section>