<section class="container-fat">
   <div class="cert">

      <div class="cert__slider" id="certSlider">
         <div class="cert__slider-item">
            {{> image src='cert1.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert2.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert1.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert2.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert1.jpg' class='cert__slider-img' }}
         </div>
         <div class="cert__slider-item">
            {{> image src='cert2.jpg' class='cert__slider-img' }}
         </div>
      </div>
       <div class="cert__slider-controls">
           <div class="slider-arr-prev cert-prev"></div>
           <div class="slider-arr-next cert-next"></div>
       </div>
   </div>
</section>