.faq {
  &__head{

  }
  &__body{
    display: flex;
    //border: 1px solid red;
    height: 350px;
    padding: 50px 0 0;
    &-category{
      width: 30%;
      &-list{
        li {
          display: flex;
          align-items: center;
          padding:0 15px;
          border-radius:0 5px 5px 0;
          cursor: pointer;
          p{
            font-family: SF-Bold, sans-serif;
            color: $grey;
            padding: 20px;
          }
        }
      }
    }
    &-answers{
      width: 70%;
      position: relative;
      padding: 0 50px;
      &-item{
        position: absolute;
        max-height: 300px;
        overflow-y: scroll;
        visibility: hidden;
        opacity: 0;
        transition: .4s;
        &::-webkit-scrollbar-track{
          background-color: #9cd2b0;
        }
        &::-webkit-scrollbar{
          width: 2px;
        }
        &::-webkit-scrollbar-thumb{
          background-color: $green;
        }
      }
      &-container{
        margin: 20px 0;
        padding-right: 50px;
        overflow-y: hidden;
        max-height: 40px;
        transition: .4s;
        h6 {
          font-family: SF, sans-serif;
          font-size: 18px;
          position: relative;
          cursor: pointer;
          &:before{
            position: absolute;
            content: '';
            right: 0;
            width: 10px;
            height: 10px;
            border-left: 1px solid $green;
            border-bottom: 1px solid $green;
            transform: rotate(-45deg);
          }
        }
        p {
          color: #393939;
          font-size: 16px;
          margin-top: 25px;
          padding-right: 50px;
        }
      }
    }
  }
  &_category-img{
    filter : brightness(0);
  }
}
.faq-open{
  overflow-y: visible;
  max-height: 400px;
  h6 {
    color: $green;
  }
}
.active-faq-tab{
  visibility: visible;
  opacity: 1;
}
.active-faq{
  background: $green;
  p {
    color: white!important;
  }
  img {
    filter : brightness(100%);
  }
}
.container-faq{
  background: rgba(129, 199, 132, 0.1);
  padding: 170px 160px 0;;
}