<section class="container-faq">
    <div class="bg-elipse-bottom mobile-none"></div>
    <div class="faq">

        <div class="faq__head">
            <h2>Вопросы</h2>
            <h3>
                We are the first and the only crowdfunding platform enabling you
                to help finance our farmers.
            </h3>
        </div>
        <div class="faq__body">
            <div class="faq__body-category">
                <ul class="faq__body-category-list">
                    <li class="active-faq">
                        {{> image src='money.svg' class='faq_category-img' }}
                        <p>Финансовые вопросы</p>
                    </li>
                    <li>
                        {{> image src='team.svg' class='faq_category-img' }}
                        <p>Условия работы</p>
                    </li>
                    <li>
                        {{> image src='conversation.svg' class='faq_category-img' }}
                        <p>Другие вопросы</p>
                    </li>
                </ul>
            </div>
            <div class="faq__body-answers">

                <div class="faq__body-answers-item active-faq-tab">
                    <div class="faq__body-answers-container">
                        <h6>Какие у вас есть вакансии?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ab delectus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non quidem!</p>
                    </div>
                    <div class="faq__body-answers-container">
                        <h6>Почему мы?</h6>
                        <p>electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non qui
                            electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non qui</p>
                    </div>
                    <div class="faq__body-answers-container">
                        <h6>Средняя зароботная плата?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ab delectuempo
                            electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque lm non quiribus unde veritatis, voluptas.
                            Cumque laudantium non quide Ab delectuempo
                            electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non quiribus unde veritatis, voluptas.
                            Cumque laudantium non quidem!</p>
                    </div>
                    <div class="faq__body-answers-container">
                        <h6>Бытовые условия?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ab de
                            electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non quilem!</p>
                    </div>

                </div>
                <div class="faq__body-answers-item">
                    <div class="faq__body-answers-container">
                        <h6>Какие у вас условия работы</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ab delectus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non quidem!</p>
                    </div>
                    <div class="faq__body-answers-container">
                        <h6>Есть ли у вас страховка?</h6>
                        <p>electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non qui
                            electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non qui</p>
                    </div>
                    <div class="faq__body-answers-container">
                        <h6>Выдают рабочую форму?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ab de
                            electus d quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non quilem!</p>
                    </div>

                </div>
                <div class="faq__body-answers-item">
                    <div class="faq__body-answers-container">
                        <h6>Другие вопросы</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ab delectus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non quidem!</p>
                    </div>
                    <div class="faq__body-answers-container">
                        <h6>Бытовые условия?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ab de
                            electus deleniti deserunt minima nemo neque perspiciatis provident
                            quaerat quam, quo, quod recusandae temporibus unde veritatis, voluptas.
                            Cumque laudantium non quilem!</p>
                    </div>

                </div>

            </div>
        </div>
    </div>



</section>