.contact{
  &__body{
    display: flex;

    &-map{
      width: 70%;
    }
    &-info{
      width: 30%;
      padding: 0 30px;
      &-item{
        padding: 0 30px;
        margin: 35px 0;
        h6{
          position: relative;
          font-size: 18px;
          font-family: SF-Bold, sans-serif;
          padding: 15px 0;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  &-img{
    position: absolute;
    left: -40px;
  }
}

.bg {
  &-contact{
    &-1{
      top: 1000px;
    }
    &-2{
      top: 900px;
    }
  }
}
@media all and (max-width: 800px){
  .contact__body {
    flex-direction: column;
    &-map{
      width: 100%;
    }
    &-info{
      width: 100%;
      padding: 0 15px;
    }
  }
}
@media all and (max-width: 450px) {
  .contact__body {
    flex-direction: column;
    &-map{
      width: 100%;
    }
    &-info{
      width: 100%;
      padding: 0 5px;
    }
  }
}