<section class="container">
    <div class="contact">
        <div class="contact__head">
            <h2>Контакты</h2>
            <h3>
                We are the first and the only crowdfunding platform enabling you
                to help finance our farmers.
            </h3>
        </div>
    </div>
</section>