<section class="container">
    <div class="contact">
        <div class="contact__head">
            <h2>Контакты</h2>
            <h3>
                We are the first and the only crowdfunding platform enabling you
                to help finance our farmers.
            </h3>
        </div>
        <div class="contact__body">
            <div class="contact__body-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1318529.0053552878!2d14.353962781246528!3d49.80013055554772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b948fd7dd8243%3A0xf8661c75d3db586f!2z0KfQtdGF0LjRjw!5e0!3m2!1sru!2sua!4v1558698078450!5m2!1sru!2sua"
                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="contact__body-info">
                <div class="contact__body-info-item">
                    <h6>
                        {{> image src='phone-ico.svg' class='contact-img' }}
                        Телефоны
                    </h6>
                    <p>Taque ipsa quae ab illo inventore veritatis
                        et quasi architecto beatae vitae
                        dicta sunt explicabo.</p>
                </div>
                <div class="contact__body-info-item">
                    <h6>
                        {{> image src='email-ico.svg' class='contact-img' }}
                        Почта
                    </h6>
                    <p>Taque ipsa quae ab illo inventore veritatis
                        et quasi architecto beatae vitae
                        dicta sunt explicabo.</p>
                </div>
                <div class="contact__body-info-item">
                    <h6>
                        {{> image src='map-ico.svg' class='contact-img' }}
                        Адрес
                    </h6>
                    <p>Taque ipsa quae ab illo inventore veritatis
                        et quasi architecto beatae vitae
                        dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>

    {{> image src='bg-testim-1.svg' class=' bg bg-right  bg-testim-1' }}
    {{> image src='bg-testim-2.svg' class=' bg bg-left  bg-testim-2' }}
    {{> image src='bg-testim-3.svg' class=' bg bg-right  bg-testim-3' }}
    {{> image src='bg-contact-1.svg' class=' bg bg-left  bg-contact-1' }}
    {{> image src='bg-contact-2.svg' class=' bg bg-right  bg-contact-2' }}
</section>