<section class="">
    <div class="testimonial">
        <div class="bg-elipse mobile-none"></div>

        <div class="testimonial__head">
            <h2>Отзывы</h2>
            <h3>
                We are the first and the only crowdfunding
                platform enabling you  to help finance our farmers.
            </h3>
            <div class="testimon__slider-controls">
                <div class="slider-arr-prev testimon-prev"></div>
                <div class="slider-arr-next testimon-next"></div>
            </div>
        </div>
        <div class="testimonial__body">
            <div class="testimon-slider">

                <div class="testimon-slider__item">
                    <div class="testimon-head">
                        <div class="testimon-head__avatar">
                            {{> image src='avatar.png' class='' }}
                            <a href="#" class="testimon-head__avatar_link">
                                {{> image src='fb-link.svg' class='' }}
                            </a>
                        </div>
                        <div class="testimon-head__name">
                            <p>Ilone Pickford</p>
                            <span>Head of Agrogofund Groups</span>
                        </div>
                    </div>
                    <div class="testimon-text">
                       " В Чехии уже 2,5 недели. Работаю фасовщиком на складе.
                        В принципе, условия работы нормальные.
                        Рабочий день у нас 12 часов, но если цель зарабатывать,
                        то это подходящий вариант.
                    </div>
                </div>
                <div class="testimon-slider__item">
                    <div class="testimon-head">
                        <div class="testimon-head__avatar">
                            {{> image src='avatar.png' class='' }}
                            <a href="#" class="testimon-head__avatar_link">
                                {{> image src='fb-link.svg' class='' }}
                            </a>
                        </div>
                        <div class="testimon-head__name">
                            <p>Ilone Pickford</p>
                            <span>Head of Agrogofund Groups</span>
                        </div>
                    </div>
                    <div class="testimon-text">
                        Спасибо большое, хорошо проинформировали о получении визы,
                        все вышло, виза есть. Сама долго сомневалась, выслушивала советы
                        и мнения и вот я здесь Хорошая команда и отлично работают.
                    </div>
                </div>
                <div class="testimon-slider__item">
                    <div class="testimon-head">
                        <div class="testimon-head__avatar">
                            {{> image src='avatar.png' class='' }}
                            <a href="#" class="testimon-head__avatar_link">
                                {{> image src='fb-link.svg' class='' }}
                            </a>
                        </div>
                        <div class="testimon-head__name">
                            <p>Ilone Pickford</p>
                            <span>Head of Agrogofund Groups</span>
                        </div>
                    </div>
                    <div class="testimon-text">
                        " Ребята молодцы, оформили быстро,
                        нужной мне вакансии не было, через 4 дня позвонили и сказали
                        что есть для меня работа. Работаю, как и хотел сварщиком.
                        Жилье дали, зарплата хорошая. Здесь уже 3 месяца и хочу оформить карту.
                    </div>
                </div>
                <div class="testimon-slider__item">
                    <div class="testimon-head">
                        <div class="testimon-head__avatar">
                            {{> image src='avatar.png' class='' }}
                            <a href="#" class="testimon-head__avatar_link">
                                {{> image src='fb-link.svg' class='' }}
                            </a>
                        </div>
                        <div class="testimon-head__name">
                            <p>Ilone Pickford</p>
                            <span>Head of Agrogofund Groups</span>
                        </div>
                    </div>
                    <div class="testimon-text">
                        " В Чехии уже 2,5 недели. Работаю фасовщиком на складе.
                        В принципе, условия работы нормальные.
                        Рабочий день у нас 12 часов, но если цель зарабатывать,
                        то это подходящий вариант.
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>